on:
  push:
    tags:
    - "v*"
  workflow_dispatch:
    inputs:
      release:
        description: 'Deploy release?'
        type: boolean
        default: false
      website:
        description: 'Deploy website?'
        type: boolean
        default: false
      pages-branch:
        description: 'Pages branch name'
        default: nist-pages
name: Deploy Tagged Release
jobs:
  deploy-to-nexus:
    name: Build and Publish Java Artifacts
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      with:
        submodules: recursive
        filter: tree:0
    # -------------------------
    # Java
    # -------------------------
    - name: Set up Maven
      uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1
      with:
        maven-version: 3.9.3
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: 'temurin'
        cache: 'maven'
        server-id: ossrh # Value of the distributionManagement/repository/id field of the pom.xml
        server-username: MAVEN_USERNAME # env variable for username in deploy
        server-password: MAVEN_CENTRAL_TOKEN # env variable for token in deploy
        gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }} # Value of the GPG private key to import
        gpg-passphrase: MAVEN_GPG_PASSPHRASE # env variable for GPG private key passphrase
    # -------------------------
    # Maven Deploy
    # -------------------------
    - name: Deploy Maven Artifacts
      if: github.event_name == 'push' || (github.event_name == 'workflow_dispatch' && contains('true', github.event.inputs.release))
      run: |
        mvn -B -e -Prelease -Preporting install
        # Swap the above with the command below to support OSSRH deployment
        # https://central.sonatype.org/publish/publish-guide/
        # mvn -B -e -Pgpg -Prelease -Preporting deploy
      env:
        MAVEN_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        MAVEN_CENTRAL_TOKEN: ${{ secrets.SONATYPE_PASSWORD }}
        MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
    - name: Create release
      if: github.event_name == 'push' || (github.event_name == 'workflow_dispatch' && contains('true', github.event.inputs.release))
      uses: softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836
      with:
        draft: true
        generate_release_notes: true
        fail_on_unmatched_files: true
        files: |
          metaschema-cli/target/metaschema-cli-*-metaschema-cli.*
    # -------------------------
    # Maven Site
    # -------------------------
    - name: Build Website
      if: github.event_name == 'push' || (github.event_name == 'workflow_dispatch' && contains('true', github.event.inputs.website))
      run: |
        mvn -B -e -Prelease -Preporting install site site:stage
    - name: Website Deploy
      uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e
      if: github.event_name == 'push' || (github.event_name == 'workflow_dispatch' && contains('true', github.event.inputs.website))
      with:
        personal_token: ${{ secrets.COMMIT_TOKEN }}
        publish_dir: ./target/staging
        external_repository: ${{ github.repository }}
        publish_branch: ${{ (github.event_name == 'workflow_dispatch' && github.event.inputs.pages-branch) || 'nist-pages' }}
